.vs/
**/.vs/
Ubisoft-Toronto-NEXT-2024-2025-Programming-API/API/.vs/GameTest/FileContentIndex/4450b838-72a6-4ed0-bac9-3a1b416827ce.vsidx
Ubisoft-Toronto-NEXT-2024-2025-Programming-API/API/.vs/GameTest/FileContentIndex/a6add669-7eca-47be-8c24-aff0628e0eb4.vsidx
Ubisoft-Toronto-NEXT-2024-2025-Programming-API/API/.vs/GameTest/v17/Browse.VC.db
Ubisoft-Toronto-NEXT-2024-2025-Programming-API/API/.vs/GameTest/v17/Browse.VC.opendb
Ubisoft-Toronto-NEXT-2024-2025-Programming-API/API/.vs/GameTest/v17/Solution.VC.db
